<article class="main-content">
    <header class="article-header">
        <h1><i class="fa fa-play"></i>&nbsp;The Angular way</h1>
    </header>
    <section class="article-content">
        <p>
            You can construct your table the "angular" way, eg using the directive <code>ng-repeat</code> on <code>tr</code> tag.
            All you need to do is to add the directive <code>datatable</code> and <code>dt-rows</code> on your table in order
            to make it rendered with DataTables.
        </p>
    </section>
    <section class="showcase">
        <tabset>
            <tab heading="Preview">
                <article class="preview">
                    <div ng-controller="angularWayCtrl">
                        <table datatable="ng">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dt-rows ng-repeat="person in persons">
                                <td>{{ person.id }}</td>
                                <td>{{ person.firstName }}</td>
                                <td>{{ person.lastName }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </tab>
            <tab heading="HTML">
<div hljs>
<div ng-controller="angularWayCtrl">
    <table datatable="ng">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        </thead>
        <tbody>
        <tr dt-rows ng-repeat="person in persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
            </tab>
            <tab heading="JS">
<div hljs language="js">
angular.module('datatablesSampleApp', ['ngResource', 'datatables']).controller('angularWayCtrl', function ($scope, $resource) {
    $scope.persons = $resource('data.json').query();
});
</div>
            </tab>
        </tabset>
    </section>
</article>
