<article class="main-content api">
    <header class="article-header">
        <h1><i class="fa fa-book"></i>&nbsp;API</h1>
    </header>
    <section ng-controller="apiCtrl" class="article-content">
    <h3><code>$DTDefaultOptions</code></h3>
    <p>
        You can provide default options to set for all your datatables, such as the language, the number of items to display...
    </p>
    <table datatable dt-options="dtOptions">
        <thead>
        <tr>
            <th>Helper/Wrapper</th>
            <th>API</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>$DTDefaultOptions</code></td>
            <td><code>setLanguageSource(sLanguageSource)</code></td>
            <td>
                Set the default language source for all datatables.
<div hljs language="js">
angular.module('myModule', ['datatables']).run(function($DTDefaultOptions) {
    $DTDefaultOptions.setLanguageSource('/path/to/language');
});
</div>
            </td>
        </tr>
        <tr>
            <td><code>$DTDefaultOptions</code></td>
            <td><code>setLanguage(oLanguage)</code></td>
            <td>Set the default language for all datatables.</td>
        </tr>
        <tr>
            <td><code>$DTDefaultOptions</code></td>
            <td><code>setDisplayLength(iDisplayLength)</code></td>
            <td>
                Set the default numbers of items to display for all datatables.
<div hljs language="js">
angular.module('myModule', ['datatables']).run(function($DTDefaultOptions) {
    // Display 25 items per page by default
    $DTDefaultOptions.setDisplayLength(25);
});
</div>
            </td>
        </tr>
        </tbody>
    </table>

    <br />
    <hr />
    <h3><code>DTOptionsBuilder</code></h3>
    <p>
        This service will help you build your datatables options.
    </p>
    <p>
        <strong>Note</strong>: Of course, this helper is not mandatory. This helper only constructs a JSON object.
        You can directly pass the datatable options on the element attributes <code>dt-options</code>.
    </p>
    <table datatable dt-options="dtOptions">
        <thead>
        <tr>
            <th>Helper/Wrapper</th>
            <th>API</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>DTOptionsBuilder</code></td>
            <td><code>newOptions()</code></td>
            <td>Create a wrapped datatables options.</td>
        </tr>
        <tr>
            <td><code>DTOptionsBuilder</code></td>
            <td><code>fromSource(sAjaxSource)</code></td>
            <td>Create a wrapped datatables options with initialized ajax source.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withOption(key, value)</code></td>
            <td>
                Add an option to the wrapped datatables options. For example, the following code add the option <code>fnRowCallback</code>:
<div hljs language="js">
angular.module('myModule', ['datatables']).controller('myCtrl', function($scope, DTOptionsBuilder) {
    $scope.dtOptions = DTOptionsBuilder.newOptions()
        .withOption('fnRowCallback', function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            console.log(aData);
            return nRow;
        });
});
</div>
            </td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withSource(sAjaxSource)</code></td>
            <td>Set the ajax source.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withDataProp(sAjaxDataProp)</code></td>
            <td>Set the Ajax properties</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withFnServerData(fn)</code></td>
            <td>Set the data server retrieval function.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withPaginationType(sPaginationType)</code></td>
            <td>Set the pagination type of the datatables</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withLanguage(oLanguage)</code></td>
            <td>Set the language of the datatables. If not defined, it uses the default language set by datables, ie english.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withDisplayLength(iDisplayLength)</code></td>
            <td>Set the number of items per page to display.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withBootstrap()</code></td>
            <td>Add <a href="http://getbootstrap.com">bootstrap</a> compatibility.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withColReorder()</code></td>
            <td>Add <a href="https://datatables.net/extras/colreorder/">ColReorder compatibility.</a></td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withColReorderOption(key, value)</code></td>
            <td>Add option to the attribute <code>oColReorder</code>.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withColReorderOrder(aiOrder)</code></td>
            <td>Set the default column order.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withColReorderCallback(fnReorderCallback)</code></td>
            <td>Set the reorder callback function.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withColVis()</code></td>
            <td>Add <a href="https://datatables.net/extras/colvis/">ColVis</a> compatibility.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withColVisOption(key, value)</code></td>
            <td>Add option to the attribute <code>oColVis</code>.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withColVisStateChange(fnStateChange)</code></td>
            <td>Set the state change function.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withTableTools(sSwfPath)</code></td>
            <td>Add <a href="https://datatables.net/extras/tabletools/">TableTools</a> compatibility.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withTableToolsOption(key, value)</code></td>
            <td>Add option to the attribute <code>oTableTools</code>.</td>
        </tr>
        <tr>
            <td><code>DTOptions</code></td>
            <td><code>withTableToolsButtons(aButtons)</code></td>
            <td>Set the table tools buttons to display.</td>
        </tr>
        </tbody>
    </table>

    <br />
    <hr />
    <h3><code>DTColumnBuilder</code></h3>
    <p>
        This service will help you build your datatables column options.
    </p>
    <p>
        <strong>Note</strong>: Of course, this helper is not mandatory. This helper only constructs a JSON object.
        You can directly pass the datatable column options on the element attributes and <code>dt-columns</code>.
    </p>
    <table datatable dt-options="dtOptions">
        <thead>
        <tr>
            <th>Helper/Wrapper</th>
            <th>API</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>DTColumnBuilder</code></td>
            <td><code>newColumn(mData, labe)</code></td>
            <td>Create a new wrapped <code>DTColumn</code>.</td>
        </tr>
        <tr>
            <td><code>DTColumn</code></td>
            <td><code>withOption(key, value)</code></td>
            <td>
                Add the option of the column. For example, the following code add the option <code>sContentPadding</code>:
<div hljs language="js">
angular.module('myModule', ['datatables']).controller('myCtrl', function($scope, DTColumnBuilder) {
    $scope.dtColumns = [
        DTColumnBuilder.newColumn('foo').withOption('sContentPadding', 'mmm')
    ];
});
</div>
            </td>
        </tr>
        <tr>
            <td><code>DTColumn</code></td>
            <td><code>withTitle(title)</code></td>
            <td>Set the title of the colum.</td>
        </tr>
        <tr>
            <td><code>DTColumn</code></td>
            <td><code>withClass(sClass)</code></td>
            <td>Set the CSS class of the column</td>
        </tr>
        <tr>
            <td><code>DTColumn</code></td>
            <td><code>notVisible()</code></td>
            <td>Hide the column.</td>
        </tr>
        <tr>
            <td><code>DTColumn</code></td>
            <td><code>notSortable()</code></td>
            <td>Set the column as not sortable</td>
        </tr>
        <tr>
            <td><code>DTColumn</code></td>
            <td><code>renderWith(mrender)</code></td>
            <td>
                Render each cell with the given parameter
<div hljs language="js">
angular.module('myModule', ['datatables']).controller('myCtrl', function($scope, DTColumnBuilder) {
    // Data fetched: {gender: 'Mr', firstName: 'foo', lastName: 'bar'}
    $scope.dtColumns = [
        DTColumnBuilder.newColumn('firstName').withLabel('First name').renderWith(function(data, type, full) {
            return full.gender + ' ' + full.firstName;
        });
    ];
});
</div>
            </td>
        </tr>
        </tbody>
    </table>

    </section>

    <section class="showcase"></section>
</article>
