<article class="main-content">
    <header class="article-header">
        <h1><i class="fa fa-play"></i>&nbsp;Load/Reload the table data from an Ajax source</h1>
    </header>
    <section class="article-content">
        <p>
            This module also handles data reloading / loading from an Ajax source:
        </p>
        <ul>
            <li>
                If you need to load data, you just have to override the <code>dtOptions.sAjaxSource</code> property.
            </li>
            <li>
                If you need to reload the data, you just have to call the function <code>dtOptions.reloadData();</code>.
            </li>
        </ul>
        <p class="text-danger">
            However, you need to either have the <a href="https://next.datatables.net/plug-ins/api/fnReloadAjax">fnReloadAjax
            plugin</a> or have a recent version of DataTable (v1.10+) in order to use this feature.
        </p>
    </section>
    <section class="showcase">
        <tabset>
            <tab heading="Preview">
                <article class="preview">
                    <div ng-controller="dataReloadWithAjaxCtrl">
                        <input ng-click="reloadData()" type="button" value="Reload data"/>
                        <input ng-click="changeData()" type="button" value="Change data"/>
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns"></table>
                    </div>
                </article>
            </tab>
            <tab heading="HTML">
<div hljs>
<div ng-controller="dataReloadWithAjaxCtrl">
    <input ng-click="reloadData()" type="button" value="Reload data"/>
    <input ng-click="changeData()" type="button" value="Change data"/>
    <table datatable dt-options="dtOptions" dt-columns="dtColumns"></table>
</div>
</div>
            </tab>
            <tab heading="JS">
<div hljs language="js">
angular.module('datatablesSampleApp', ['datatables'])
.controller('dataReloadWithAjaxCtrl', function($scope, DTOptionsBuilder, DTColumnBuilder) {
    $scope.reloadData = function() {
        $scope.dtOptions.reloadData();
    };
    $scope.changeData = function() {
        $scope.dtOptions.sAjaxSource = 'data1.json';
    };

    $scope.dtOptions = DTOptionsBuilder.fromSource('data.json').withPaginationType('full_numbers');

    $scope.dtColumns = [
        DTColumnBuilder.newColumn('id').withTitle('ID'),
        DTColumnBuilder.newColumn('firstName').withTitle('First name'),
        DTColumnBuilder.newColumn('lastName').withTitle('Last name').notVisible()
    ];
});
</div>
            </tab>
        </tabset>
    </section>
</article>
