<h3 ng-click="isCollapsed = !isCollapsed" class="btn btn-info">
    Load/Reload the table data from a promise
</h3>
<div class="article-content" collapse="!isCollapsed">
    <p>
        In some case, you need to load some new data. This module handles data loading seamlessly.
    </p>
    <ul>
        <li>
            If you need to load data, you just need to override the <code>dtOptions.fnPromise</code> with a new function that returns a promise.
        </li>
        <li>
            If you need to reload the data, you just have to call the function <code>dtOptions.reloadData();</code>.
        </li>
    </ul>
    <iframe class="demo-preview" height="420px" src="http://embed.plnkr.co/dyySAQcMedAINzZobYPv/preview"></iframe>
</div>
