<section>
	<h3>Dependencies</h3>
	<p>
	    The <strong>required dependencies</strong> are:
	</p>
	<ul>
	    <li><a href="http://angular.org">AngularJS</a> (tested with version 1.2.6)</li>
	    <li><a href="http://jquery.com">JQuery</a> (tested with version 1.11.0)</li>
	    <li><a href="https://datatables.net">Datatables</a> (tested with version 1.9.4)</li>
	</ul>
</section>
<section>
	<h3>Download</h3>
	<h4>Manually</h4>
	<p>
		The files can be downloaded from:
		<ul>
			<li>
				Minified <a href="https://github.com/l-lin/angular-datatables/dist/angular-datatables.min.js">JS</a> for production usage
			</li>
			<li>
				Un-minified <a href="https://github.com/l-lin/angular-datatables/dist/angular-datatables.js">JS</a> for development
			</li>
		</ul>
	</p>
	<h4>With <a href="http://bower.io">Bower</a></h4>
	<br />
	<div class="highlight">
<pre><code class="bash"><span class="nv">$ </span>bower install angular-datatables</code></pre>
	</div>
</section>
<section>
	<h3>Installation</h3>
	<p>
		Include the JS file in your <code>index.html</code> file:
		<br />
		<div class="highlight">
<pre><code class="html"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"angular-datatables.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span></code></pre></div>
	</p>
	<p>
		Declare dependencies on your module app like this:
		<div class="highlight">
<pre><code class="javascript"><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'myModule'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'angularDatatables'</span><span class="p">]);</span></code></pre>
	</p>
</section>