<article class="main-content">
    <header class="article-header">
        <h1><i class="fa fa-play"></i>&nbsp;Server side processing</h1>
    </header>
    <section class="article-content">
        <p>
            From DataTables documentation:
        </p>
        <blockquote>
            <p>
                There are times when reading data from the DOM is simply too slow or unwieldy, particularly when dealing with many thousands or millions of data rows.
                To address this DataTables' server-side processing feature provides a method to let all the "heavy lifting" be done by a database engine on the server-side
                (they are after all highly optimised for exactly this use case!), and then have that information drawn in the user's web-browser. Consequently,
                you can display tables consisting of millions of rows with ease.
            </p>
            <p>
                When using server-side processing, DataTables will make an Ajax request to the server for each draw of the information on the page
                (i.e. when paging, ordering, searching, etc.). DataTables will send a number of variables to the server to allow it to perform the
                required processing and then return the data in the format required by DataTables.
            </p>
            <p>
                Server-side processing is enabled by use of the serverSideDT option, and configured using ajaxDT.
            </p>
        </blockquote>
        <p>
            For more information, please check out <a href="https://datatables.net/manual/server-side">DataTable's documentation</a>.
        </p>
        <div class="alert alert-info">
            <p>
                <b><i class="fa fa-warning"></i>&nbsp;Note</b>
            </p>
            <ul>
                <li>
                    This feature is only available with Ajax rendering!
                </li>
                <li>
                    By default, <code>angular-datatables</code> set the <a href="http://datatables.net/reference/option/ajax.dataSrc"><code>AjaxDataProp</code></a> to <code>''</code>. So you need to provide the <code>AjaxDataProp</code> with either <code>.withDataProp('data')</code> or specifying the option <code>dataSrc</code> in the <code>ajax</code> option.
                </li>
            </ul>
        </div>
        <p class="text-warning">
            <i class="fa fa-info-circle"></i>&nbsp;With your browser debugger, you might notice that this example does not use the server side processing.
            Indeed, since Github pages are static HTML files, there are no real server to show you a real case study.
        </p>
    </section>
    <section class="showcase">
        <tabset>
            <tab heading="Preview">
                <article class="preview">
                    <div ng-controller="serverSideProcessingCtrl">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>
                    </div>
                </article>
            </tab>
            <tab heading="HTML">
<div hljs>
<div ng-controller="serverSideProcessingCtrl">
    <table datatable dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>
</div>
</div>
            </tab>
            <tab heading="JS">
<div hljs language="js">
angular.module('datatablesSampleApp', ['datatables'])
.controller('serverSideProcessingCtrl', function ($scope, DTOptionsBuilder, DTColumnBuilder) {
    $scope.dtOptions = DTOptionsBuilder.newOptions()
        .withOption('ajax', {
            // Either you specify the AjaxDataProp here
            // dataSrc: 'data',
            url: 'data/serverSideProcessing',
            type: 'POST'
        })
        // or here
        .withDataProp('data')
        .withOption('serverSide', true)
        .withPaginationType('full_numbers');
    $scope.dtColumns = [
        DTColumnBuilder.newColumn('id').withTitle('ID'),
        DTColumnBuilder.newColumn('firstName').withTitle('First name'),
        DTColumnBuilder.newColumn('lastName').withTitle('Last name').notVisible()
    ];
});
</div>
            </tab>
            <tab heading="Example data">
<div hljs language="json">
{
    "draw": 1,
    "recordsTotal": 57,
    "recordsFiltered": 57,
    "data": [
        {
            "DT_RowId": "row_3",
            "DT_RowData": {
                "pkey": 3
            },
            "id": 860,
            "firstName": "Superman",
            "lastName": "Yoda"
        {
            "DT_RowId": "row_17",
            "DT_RowData": {
                "pkey": 17
            },
            "id": 870,
            "firstName": "Foo",
            "lastName": "Whateveryournameis"
        },
        ...
    ]
}
</div>
            </tab>
        </tabset>
    </section>
</article>
