<p>
    The Angular-Datatables provides some helpers in order to build the datatables:
</p>
<ul>
    <li><code>DTOptionsBuilder</code> provides a builder to build the options</li>
    <li><code>DTColumnBuilder</code> provides a builder to build a column to display</li>
</ul>
<div ng-controller="simpleCtrl" class="code">
    <tabset>
        <tab heading="Preview">
            <pre>
                <table datatable dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered"></table>
            </pre>
        </tab>
        <tab heading="Markup">
            <div class="highlight">
<pre><code class="html language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">"myCtrl"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;t<span class="chromeextension-highlight">able</span></span> <span class="na">datat<span class="chromeextension-highlight">able</span></span> <span class="na">dt-options=</span><span class="s">"dtOptions"</span> <span class="na">dt-columns=</span><span class="s">"dtColumns"</span><span class="nt">&gt;&lt;/t<span class="chromeextension-highlight">able</span>&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
            </div>
        </tab>
        <tab heading="JavaScript">
            <div class="highlight">
<pre><code class="javascript language-javascript" data-lang="javascript"><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'myModule'</span><span class="p">,[</span><span class="s1">'angularDatat<span class="chromeextension-highlight">able</span>s'</span><span class="p">]).</span>
<span class="nx">controller</span><span class="p">(</span><span class="s1">'myCtrl'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">,</span> <span class="nx">DTOptionsBuilder</span><span class="p">,</span> <span class="nx">DTColumnBuilder</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">dtOptions</span> <span class="o">=</span> <span class="nx">DTOptionsBuilder</span><span class="p">.</span><span class="nx">fromSource</span><span class="p">(</span><span class="s1">'data.json'</span><span class="p">);</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">dtColumns</span> <span class="o">=</span> <span class="p">[</span>
        <span class="nx">DTColumnBuilder</span><span class="p">.</span><span class="nx">newColumn</span><span class="p">(</span><span class="s1">'id'</span><span class="p">).</span><span class="nx">withLabel</span><span class="p">(</span><span class="s1">'ID'</span><span class="p">).</span><span class="nx">withClass</span><span class="p">(</span><span class="s1">'text-danger'</span><span class="p">),</span>
        <span class="nx">DTColumnBuilder</span><span class="p">.</span><span class="nx">newColumn</span><span class="p">(</span><span class="s1">'firstName'</span><span class="p">).</span><span class="nx">withLabel</span><span class="p">(</span><span class="s1">'First name'</span><span class="p">),</span>
        <span class="nx">DTColumnBuilder</span><span class="p">.</span><span class="nx">newColumn</span><span class="p">(</span><span class="s1">'lastName'</span><span class="p">).</span><span class="nx">withLabel</span><span class="p">(</span><span class="s1">'Last name'</span><span class="p">).</span><span class="nx">setVisible</span><span class="p">(</span><span class="kc">false</span><span class="p">)</span>
    <span class="p">];</span>
<span class="p">});</span></code></pre>
            </div>
        </tab>
    </tabset>
</div>