<section class="article-content" ng-controller="sampleCtrl">
    <input ng-click="reload()" type="button" value="Reload"/>
    <input ng-click="changeData()" type="button" value="Change data"/>

    <table datatable dt-options="dtOptions" dt-columns="dtColumns"></table>

    <!--<table datatable dt-options="dtOptions" dt-columns="dtColumns">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>First name</th>-->
            <!--<th>Last name</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
            <!--<td>1</td>-->
            <!--<td>Foo</td>-->
            <!--<td>Bar</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>123</td>-->
            <!--<td>Someone</td>-->
            <!--<td>Youknow</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>987</td>-->
            <!--<td>Iamout</td>-->
            <!--<td>Ofinspiration</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

    <!--<table datatable dt-options="dtOptions" dt-columns="dtColumns">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>First name</th>-->
            <!--<th>Last name</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr dt-rows ng-repeat="person in persons">-->
            <!--<td>{{ person.id }}</td>-->
            <!--<td>{{ person.firstName }}</td>-->
            <!--<td>{{ person.lastName }}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
</section>
