<article class="main-content">
    <header class="article-header">
        <h1><i class="fa fa-play"></i>&nbsp;With the datatables <a href="https://datatables.net/extras/colvis/">ColVis</a></h1>
    </header>
    <section class="article-content">
        <p>
            The <code>angular-datatables</code> also provides an API in order to make the plugin <code>ColVis</code> works with datatables.
        </p>
        <iframe class="demo-preview" height="420px" src="http://embed.plnkr.co/PFKpA4JEQgSiZhCRxBg7/preview"></iframe>
    </section>
</article>
