<h3 ng-click="isCollapsed = !isCollapsed" class="btn btn-info">
    With promise
</h3>
<div class="article-content" collapse="!isCollapsed">
    <p>
        You can also fetch the data from a server using a promise.
    </p>
    <p>
        The <code>angular-datatables</code> provides the helper <code>DTOptionsBuilder.withPromise(dataPromise)</code>
        and the helper <code>DTColumnBuilder</code> that lets you build the datatables options for each column.
    </p>
    <p>
        See the API for the complete list of methods of the helper.
    </p>
    <iframe class="demo-preview" height="420px" src="http://embed.plnkr.co/B9ltNzIRCwswgHqKD5Pp/preview"></iframe>
</div>
