<article class="main-content">
    <header class="article-header">
        <h1><i class="fa fa-play"></i>&nbsp;Zero configuration</h1>
    </header>
    <section class="article-content">
        <p>
            The <code>angular-datatables</code> provides a <code>datatables</code> directive you can add to your <code>&lt;table&gt;</code>:
        </p>
        <iframe class="demo-preview" style="height: 230px;" src="http://embed.plnkr.co/t0Mx7vQfNHfcNkpJyLOe/preview"></iframe>
    </section>
</article>
