.idea
*.iml
typings/**
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
.vscode

!karma*.js
!protractor*.js
!systemjs.config.js
!demo/src/**/*.js
!rollup.conf.js
!rollup-uglify.conf.js

# angular-datatables specific
*.js.map
*.d.ts
*.metadata.json
index*.js
