<ul class="sidebar-item nav nav-list" ng-controller="sidebarCtrl">
    <li ng-class="{'active': isActive('gettingStarted')}">
        <a ui-sref="gettingStarted" class="faa-parent animated-hover">
            <i class="fa fa-gear faa-spin"></i>&nbsp;Getting started
        </a>
    </li>
    <!-- ******************************************************************* -->
    <li ng-class="{'active': isBasicUsageActive()}">
        <a class="faa-parent animated-hover" ng-click="isBasicUsageCollapsed = !isBasicUsageCollapsed; $event.stopProgragation()">
            <i class="fa fa-play faa-horizontal"></i>&nbsp;Basic usage
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu" collapse="!isBasicUsageCollapsed">
            <li ng-repeat="basicUsage in basicUsages"
                ng-class="{'active': isActive(basicUsage.name)}">
                <a ui-sref="{{ basicUsage.name }}">
                    <i class="menu-icon fa fa-caret-right"></i>&nbsp;{{ basicUsage.label }}
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active': isAdvancedUsageActive()}">
        <a class="faa-parent animated-hover" ng-click="isAdvancedUsageCollapsed = !isAdvancedUsageCollapsed; $event.stopProgragation()">
            <i class="fa fa-play faa-horizontal"></i>&nbsp;Advanced usage
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu" collapse="!isAdvancedUsageCollapsed">
            <li ng-repeat="advancedUsage in advancedUsages"
                ng-class="{'active': isActive(advancedUsage.name)}">
                <a ui-sref="{{ advancedUsage.name }}">
                    <i class="menu-icon fa fa-caret-right"></i>&nbsp;{{ advancedUsage.label }}
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active': isWithPluginsUsageActive()}">
        <a class="faa-parent animated-hover" ng-click="isWithPluginsUsageCollapsed = !isWithPluginsUsageCollapsed; $event.stopProgragation()">
            <i class="fa fa-play faa-horizontal"></i>&nbsp;With plugins
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu" collapse="!isWithPluginsUsageCollapsed">
            <li ng-repeat="withPluginsUsage in withPluginsUsages"
                ng-class="{'active': isActive(withPluginsUsage.name)}">
                <a ui-sref="{{ withPluginsUsage.name }}">
                    <i class="menu-icon fa fa-caret-right"></i>&nbsp;{{ withPluginsUsage.label }}
                </a>
            </li>
        </ul>
    </li>
    <!-- ******************************************************************* -->
    <li ng-class="{'active': isActive('api')}">
        <a class="faa-parent animated-hover" ui-sref="api">
            <i class="fa fa-code faa-tada"></i>&nbsp;API
        </a>
    </li>

    <li>
        <a class="faa-parent animated-hover" ng-click="isArchiveCollapsed = !isArchiveCollapsed; $event.stopProgragation()">
            <i class="fa fa-archive faa-shake"></i>&nbsp;Archives
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu" collapse="!isArchiveCollapsed">
            <li ng-repeat="archive in archives">
                <a href="/angular-datatables/archives/{{ archive.full }}">
                    <i class="menu-icon fa fa-caret-right"></i>&nbsp;{{ archive.full }}
                </a>
            </li>
        </ul>
    </li>
</ul>
