<article class="main-content">
    <header class="article-header">
        <h1><i class="fa fa-play"></i>&nbsp;The Angular way</h1>
    </header>
    <section class="article-content">
        <p>
            You can construct your table the "angular" way, eg using the directive <code>ng-repeat</code> on <code>tr</code> tag.
            All you need to do is to add the directive <code>datatable</code> with the value <code>ng</code> on your table in order
            to make it rendered with DataTables.
        </p>
        <p>
            <strong>Note:</strong>
        </p>
        <ul>
            <li>
                If you use the Angular way of rendering the table along with the Ajax or the promise solution, the latter
                will be display.
            </li>
            <li>
                Don't forget to set the properties <code>ng</code> in the directive <code>datatable</code> in order to tell the directive to use the Angular way!
            </li>
        </ul>
        <div class="alert alert-danger">
            <p>
                The "Angular way" is <strong>REALLY less efficient</strong> than fetching the data with the Ajax/promise solutions. The lack of
                performance is due to the fact that Angular add the 2 way databinding to the data, where the ajax and promise solutions
                do not. However, you can use Angular directives (<code>ng-click</code>, <code>ng-controller</code>...) in there!
            </p>
            <p>
                If your DataTable has a lot of rows, I <strong>STRONGLY</strong> advice you to use the Ajax solutions.
            </p>
        </div>
        <div class="alert alert-info">
            <p>
                With Angular v1.3, the <a href="https://docs.angularjs.org/guide/expression#one-time-binding"><strong>one time binding</strong></a> can help you improve performance.
            </p>
            <p>
                If you are using <a href="https://docs.angularjs.org/api/ngResource"><strong>angular-resource</strong></a>, then you must resolve the promise and then set to your <code>$scope</code> in order to use the <code>one time binding</code>.
            </p>
        </div>
    </section>
    <section class="showcase">
        <tabset>
            <tab heading="Preview">
                <article class="preview">
                    <div ng-controller="AngularWayCtrl as showCase">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="person in ::showCase.persons">
                                <td>{{ person.id }}</td>
                                <td>{{ person.firstName }}</td>
                                <td>{{ person.lastName }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </tab>
            <tab heading="HTML">
<div hljs>
<div ng-controller="AngularWayCtrl as showCase">
    <table datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in showCase.persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
            </tab>
            <tab heading="JS">
<div hljs language="js">
angular.module('showcase.angularWay', ['datatables', 'ngResource'])
.controller('AngularWayCtrl', AngularWayCtrl);

function AngularWayCtrl($resource) {
    var vm = this;
    $resource('data.json').query().$promise.then(function(persons) {
        vm.persons = persons;
    });
}
</div>
            </tab>
            <tab heading="HTML with One time binding">
<div hljs>
<div ng-controller="AngularWayOneTimeBindingCtrl as showCase">
    <table datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in ::showCase.persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
            </tab>
            <tab heading="JS with One time binding">
<div hljs language="js">
angular.module('showcase.angularWay', ['datatables', 'ngResource'])
.controller('AngularWayOneTimeBindingCtrl', AngularWayCtrl);

function AngularWayOneTimeBindingCtrl($resource) {
    var vm = this;
    $resource('data.json').query().$promise.then(function(persons) {
        vm.persons = persons;
    });
}
</div>
            </tab>
            <tab heading="Example data">
                <p class="example-data">
                    <a target="_blank" href="/angular-datatables/data.json" tooltip="data.json">data.json&nbsp;<i class="fa fa-external-link"></i></a>
                </p>
<div hljs language="json">
[{
    "id": 860,
    "firstName": "Superman",
    "lastName": "Yoda"
}, {
    "id": 870,
    "firstName": "Foo",
    "lastName": "Whateveryournameis"
}, {
    "id": 590,
    "firstName": "Toto",
    "lastName": "Titi"
}, {
    "id": 803,
    "firstName": "Luke",
    "lastName": "Kyle"
},
...
]
</div>
            </tab>
        </tabset>
    </section>
</article>
