<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">With options</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <p class="caption">
          You need to provide the <code>dtOptions</code> in the input.
        </p>
        <div class="col s12 m9 l12 showcase-tabs">
          <ul class="anchor-links">
            <li class="col s4"><a class="waves-effect btn" href="#preview">Preview</a></li>
            <li class="col s4"><a class="waves-effect btn" href="#html">HTML</a></li>
            <li class="col s3"><a class="waves-effect btn" href="#ts">Typescript</a></li>
          </ul>
        </div>
        <div id="preview" class="col s12 m9 l12">
          <h4 class="header">Preview</h4>
          <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Someone</td>
                <td>Youknow</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>
              </tr>
              <tr>
                <td>7</td>
                <td>François</td>
                <td>Holland</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Michel</td>
                <td>Popo</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Chuck</td>
                <td>Norris</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Simon</td>
                <td>Robin</td>
              </tr>
              <tr>
                <td>11</td>
                <td>Louis</td>
                <td>Lin</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Zelda</td>
                <td>Link</td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-with-options-snippet></app-with-options-snippet>
      </div>
    </div>
  </div>
</div>
