<article class="main-content welcome">
    <header class="article-header">
        <h1><a href="https://angularjs.org/"><img src="/angular-datatables/images/AngularJS.png" /></a></h1>
        <h1 class="text-info notice">Structural framework for dynamic web apps</h1>
        <h1><i class="fa fa-plus"></i></h1>
        <h1><a href="https://datatables.net/"><img src="/angular-datatables/images/DataTables.png" />&nbsp;DataTables</a></h1>
        <h1 class="text-info notice">jQuery plug-in for complex HTML tables</h1>
    </header>
</article>
