<article class="main-content">
    <header class="article-header">
        <h1><i class="fa fa-play"></i>&nbsp;Load/Reload the table data from a promise function</h1>
    </header>
    <section class="article-content">
        <p>
            In some case, you need to load some new data. This module handles data loading seamlessly.
        </p>
        <ul>
            <li>
                If you need to load new data, you just need to override the <code>dtOptions.fnPromise</code> with a new function that returns a promise or a promise.
            </li>
            <li>
                If you need to reload the data, you just have to call the function <code>dtOptions.reloadData();</code>.
            </li>
        </ul>
    </section>
    <section class="showcase">
        <tabset>
            <tab heading="Preview">
                <article class="preview">
                    <div ng-controller="DataReloadWithPromiseCtrl as showCase">
                        <p>
                            <button ng-click="showCase.reloadData()" type="button" class="btn btn-info">
                                <i class="fa fa-refresh"></i>&nbsp;Reload data
                            </button>
                            <button ng-click="showCase.changeData()" type="button" class="btn btn-info">
                                <i class="fa fa-exchange"></i>&nbsp;Change data
                            </button>
                        </p>
                        <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
                    </div>
                </article>
            </tab>
            <tab heading="HTML">
<div hljs language="html">
<div ng-controller="DataReloadWithPromiseCtrl as showCase">
    <p>
        <button ng-click="showCase.reloadData()" type="button" class="btn btn-info">
            <i class="fa fa-refresh"></i>&nbsp;Reload data
        </button>
        <button ng-click="showCase.changeData()" type="button" class="btn btn-info">
            <i class="fa fa-exchange"></i>&nbsp;Change data
        </button>
    </p>
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
</div>
</div>
            </tab>
            <tab heading="JS">
<div hljs language="js">
angular.module('datatablesSampleApp', ['ngResource', 'datatables']).controller('DataReloadWithPromiseCtrl', DataReloadWithPromiseCtrl);

function DataReloadWithPromiseCtrl(DTOptionsBuilder, DTColumnBuilder, $resource) {
    var vm = this;
    vm.dtOptions = DTOptionsBuilder.fromFnPromise(function() {
        return $resource('data.json').query().$promise;
    }).withPaginationType('full_numbers');
    vm.dtColumns = [
        DTColumnBuilder.newColumn('id').withTitle('ID'),
        DTColumnBuilder.newColumn('firstName').withTitle('First name'),
        DTColumnBuilder.newColumn('lastName').withTitle('Last name').notVisible()
    ];
    vm.reloadData = reloadData;
    vm.changeData = changeData;

    function reloadData() {
        vm.dtOptions.reloadData();
    }
    function changeData() {
        vm.dtOptions.fnPromise = function() {
            return $resource('data1.json').query().$promise;
        };
        // Or vm.dtOptions.fnPromise = $resource('data1.json').query().$promise;
    }
}
</div>
            </tab>
            <tab heading="Example data">
                <p class="example-data">
                    <a target="_blank" href="/angular-datatables/data.json" tooltip="data.json">data.json&nbsp;<i class="fa fa-external-link"></i></a>
                    <br />
                    <a target="_blank" href="/angular-datatables/data1.json" tooltip="data1.json">data1.json&nbsp;<i class="fa fa-external-link"></i></a>
                </p>
<div hljs language="json">
[{
    "id": 860,
    "firstName": "Superman",
    "lastName": "Yoda"
}, {
    "id": 870,
    "firstName": "Foo",
    "lastName": "Whateveryournameis"
}, {
    "id": 590,
    "firstName": "Toto",
    "lastName": "Titi"
}, {
    "id": 803,
    "firstName": "Luke",
    "lastName": "Kyle"
},
...
]
</div>
            </tab>
        </tabset>
    </section>
</article>
