<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Person details</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <div class="col s12 m9 l12 showcase-tabs">
          <section highlight-js-content=".json">
<pre *ngIf="person">
<code class="json highlight">{{person|json}}</code>
</pre>
          </section>
          <button class="waves-effect btn" (click)="goBack()">Go back</button>
        </div>
      </div>
    </div>
  </div>
</div>
