<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Angular DataTables</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <p class="caption">
          <a href="https://angular.io/"><img src="https://angular.io/resources/images/logos/angular2/angular.svg" height="32px" />&nbsp;Angular</a>
          Structural framework for dynamic web apps +
          <a href="https://datatables.net/"><img src="https://datatables.net/media/images/nav-dt.png" />&nbsp;DataTables</a>
          jQuery plug-in for complex HTML tables
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="center promo">
        <a class="welcome-btn waves-effect btn" href="/angular-datatables/archives">
          <span class="promo-caption">Using AngularJS 1</span>
          <br />
          <img src="assets/angular.png" />
          <br />
          <span class="light center">Check the archive</span>
        </a>
      </div>
      <h4></h4>
    </div>
    <div class="col s12 m6 l6">
      <div class="center promo">
        <a class="welcome-btn waves-effect btn" routerLink="/getting-started">
          <span class="promo-caption">Using Angular 2</span>
          <br />
          <img src="assets/angular2.png" />
          <br />
          <span class="light center">Try using with Angular 2</span>
        </a>
      </div>
      <h4></h4>
    </div>
  </div>
</div>
