<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Angular DataTables</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Caption -->
  <p class="caption">
    An Angular2+ library for building complex HTML tables using <a href="https://datatables.net/">DataTables</a> JQuery plug-in.
  </p>

  <!-- Features -->
  <h5>Features:</h5>
  <div class="section">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="row">
          <div class="col s12 m4 feature-item">
            <i class="material-icons">build</i>
            <h6>Quick Install</h6>
          </div>
          <div class="col s12 m4 feature-item">
            <i class="material-icons">sync_alt</i>
            <h6>Angular Pipes support</h6>
          </div>
          <div class="col s12 m4 feature-item">
            <i class="material-icons">hourglass_full</i>
            <h6>Large dataset support</h6>
          </div>
          <div class="col s12 m4 feature-item">
            <i class="material-icons">filter_alt</i>
            <h6>Advanced Data Filter</h6>
          </div>
          <div class="col s12 m4 feature-item">
            <i class="material-icons">add_circle</i>
            <h6>Extensions support</h6>
          </div>
          <div class="col s12 m4 feature-item">
            <i class="material-icons">device_hub</i>
            <h6>Open source (MIT license)</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ol>
    <li>Pagination</li>
    <li>Instant search</li>
    <li>Multi-column ordering</li>
    <li>Use almost any data source</li>
    <li>Easily theme-able</li>
    DataTables theme creator, Bootstrap 3/4, Foundation and Semantic UI.
    Wide variety of extensions
    Editor, Buttons, Responsive and more.
    Mobile friendly
    Tables adapt to the viewport size.
  </ol> -->
</div>
