<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Individual column searching</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <p class="caption">
          Implementation of <a href="https://datatables.net/examples/api/multi_filter.html">the example on individual column searching (text inputs)</a>
        </p>
        <div class="col s12 m9 l12 showcase-tabs">
          <ul class="anchor-links">
            <li class="col s4"><a class="waves-effect btn" href="#preview">Preview</a></li>
            <li class="col s4"><a class="waves-effect btn" href="#html">HTML</a></li>
            <li class="col s3"><a class="waves-effect btn" href="#ts">Typescript</a></li>
          </ul>
        </div>
        <div id="preview" class="col s12 m9 l12">
          <h4 class="header">Preview</h4>
          <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <tfoot>
              <tr>
                <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
                <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <app-individual-column-filtering-snippet></app-individual-column-filtering-snippet>
      </div>
    </div>
  </div>
</div>
