<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Multiple DataTables in the same page</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <p class="caption">
          You can display multiple datatables in the same page.
        </p>
        <div class="col s12 m9 l12 showcase-tabs">
          <ul class="anchor-links">
            <li class="col s4"><a class="waves-effect btn" href="#preview">Preview</a></li>
            <li class="col s4"><a class="waves-effect btn" href="#html">HTML</a></li>
            <li class="col s3"><a class="waves-effect btn" href="#ts">Typescript</a></li>
          </ul>
        </div>
        <div id="preview" class="col s12 m9 l12">
          <h4 class="header">Preview</h4>
          <p>
            <button type="button" class="btn waves-effect waves-light blue" (click)="displayToConsole()">
              Display the DataTable instances in the console
            </button>
          </p>
          <table id="first-table" datatable [dtOptions]="dtOptions[0]" class="row-border hover"></table>
          <table id="second-table" datatable [dtOptions]="dtOptions[1]" class="row-border hover"></table>
        </div>
        <app-multiple-tables-snippet></app-multiple-tables-snippet>
      </div>
    </div>
  </div>
</div>
