<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">{{pageTitle}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <span class="caption">
          <markdown [src]="mdIntro"></markdown>
        </span>
        <markdown [src]="mdInstall" *ngIf="mdInstall.length > 0"></markdown>
        <div class="showcase-tabs">
          <ul class="anchor-links">
            <li class="col s4"><a class="waves-effect btn" (click)="scrollToElement(preview)">Preview</a></li>
            <li class="col s4"><a class="waves-effect btn" (click)="scrollToElement(html)">HTML</a></li>
            <li class="col s4"><a class="waves-effect btn" (click)="scrollToElement(ts)">Typescript</a></li>
          </ul>
        </div>
        <div #preview class="col s12 m9 l12">
          <h4 class="header">Preview</h4>
          <ng-container *ngTemplateOutlet="template"></ng-container>
        </div>
        <div #html class="col s12 m9 l12">
          <h4 class="header">HTML</h4>
          <markdown [src]="mdHTML"></markdown>
        </div>
        <div #ts class="col s12 m9 l12">
          <h4 class="header">{{mdTSHeading}}</h4>
          <markdown [src]="mdTS"></markdown>
          <ng-container *ngIf="mdTSHigh.length > 0">
            <h4 class="header">{{mdTSHighHeading}}</h4>
            <markdown [src]="mdTSHigh"></markdown>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
