/* ---------------------------------------- */
/* COMMON */
/* ---------------------------------------- */

* {
    margin: 0;
}

body {
    padding-top: 20px;
}

a, a:visited {
    color: #045FB4;
    text-decoration: none;
}

a:hover {
    color: #b4052c;
    text-decoration: none;
}

hr {
    border-bottom: 1px solid #eee;
    border-top: 0;
    margin: 10px 0;
}

input[type="text"] {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 20px;
    padding: 4px 6px;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1000;
}

.header {
    text-align: center;
    border-top: solid 2px #FFF;
    border-bottom: solid 6px #5fc9e5;
    position: relative;
    padding-bottom: 13px;
}

.header::before,
.header::after {
    bottom: -6px;
}

.header::before,
.header::after {
    content: "";
    height: 6px;
    width: 33.33%;
    position: absolute;
    left: 33.33%;
    background: #b1cf37;
}

.header::after {
    left: 66.66%;
    background: #f48123;
}

.header h1 {
    color: #045FB4;
    font-family: 'Gilda Display', serif;
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    line-height: 38px;
}

.header p {
    margin: 0;
}

/* ---------------------------------------- */
/* FOOTER */
/* ---------------------------------------- */

.footer {
    background: #fbfbfb 50% 100% no-repeat;
    padding-bottom: 30px;
}

.footer-note {
    margin: auto;
    width: 900px;
    border-top: 1px solid #CACACA;
    padding-top: 15px;
    text-align: center;
}

/* ---------------------------------------- */
/* CODE */
/* ---------------------------------------- */

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #254CC7;
    white-space: nowrap;
    background-color: #F2F7F9;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

/* ---------------------------------------- */
/* MAIN CONTENT */
/* ---------------------------------------- */

.main-container {
    background: #fbfbfb 50% 100% no-repeat;
}

.container {
    padding-top: 30px;
    margin: 0 auto;
    width: 900px;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

.container h1 {
    color: #434343;
    font: 40px 'Nunito', sans-serif;
    line-height: 60px;
    text-shadow: 1px 1px #ccc;
}

.main-content {
    background: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    margin-bottom: 30px;
}

.main-content h3 {
    font-size: x-large;
    margin-bottom: 10px;
    margin-top: 0;
}

.nav {
    cursor: pointer;
}

.code .nav-tabs>li.active>a,
.code .nav-tabs>li.active>a:hover,
.code .nav-tabs>li.active>a:focus {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
}

.code pre, .code code {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.article-header {
    padding: 10px 30px 0 30px;
    color: #333;
    border: 1px solid #c2c2c2;
    background: #fafafa;
}

.article-content {
    padding: 30px;
    border-top: 2px solid #ededed;
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}

.showcase .btn {
    width: 100%;
    margin-top: 5px;
}

.showcase h3 {
    margin-bottom: 0;
}

.showcase .article-content {
    background-color: #fff;
}

.main-content.showcases {
    background: #fbfbfb 50% 100% no-repeat;
}

.demo-preview {
    width: 100%;
    border: 1px solid #e5e5e5;
}
